    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, collection: @ingredients, error: 'Please choose an ingredient' %>
      <%= f.input :description %>
      <%= f.hidden_field :cocktail_id, value: @cocktail.id %>
      <div class="text-center">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
